*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/***************** HEADER ********************/
header{
    display: grid;
    grid-template-columns: auto 70px;
    align-items: end;
    padding: 0.5rem;
    gap: 0.5rem;

}

.hamburger{
    font-size: x-large;
    margin-bottom: 1rem;
}

.hamburger::before{
    content: "\2630";
}

.hamburger.show::before{
    content: "\00D7";
}

.show{
    display: flex;
    justify-content: space-between;
}

/* NAVIGATION BAR*************/
nav{
    
    display: none;
    justify-content: space-between;
}

.navbar.show{
    display: flex;
    justify-content: space-evenly;
    
    
}

.navbar ul{
    
    text-decoration: none;
    margin: 0.5rem;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);    
    gap: 1.5rem;  
    animation-name: header-loading;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;}

li{
    text-decoration: none;
    border: 1px solid gray;
    padding: 1rem;
    border-radius: 30rem;
    cursor: pointer;


}

li:hover{
    background-color: rgb(62, 136, 206);
    color: goldenrod;
    cursor: pointer;
}

.located-now{
    text-decoration: underline;
}/*sets way finder***/

/******** ANIMATION FOR THE HEADER LOADING *********/
@keyframes header-loading {
    0% {
        opacity: 0;
        transform: translateY(-30px);
        transform: scale(10px);
    }
    25%{
        opacity: 0.25;
        transform: translateY(-20px);
        transform: scale(15px);
    }
    50% {
        opacity: 0.5;
        transform: translateY(-10px);
        transform: scale(10px);
    }
    70%{
        opacity: 0.75;
        transform: translateY(-5px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}