*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/***************** HEADER ********************/
header{
    display: grid;
    grid-template-columns: auto 70px;
    align-items: end;
    padding: 0.5rem;
    gap: 0.5rem;
    height: 7.5rem;

}

.hamburger{
    font-size: x-large;
    margin-bottom: 2rem;
}

@media(min-width:320px){
    .hamburger{
    font-size: x-large;
    margin-bottom: 1rem; 
}

}

@media(min-width:450px){
    .hamburger{
    font-size: x-large;
    margin-bottom:1.8rem; 
}
}


@media(min-width:660px){
    .hamburger{
    font-size: x-large;
    margin-bottom:2.3rem; 
}
}


.hamburger::before{
    content: "\2630";
}

.hamburger.show::before{
    content: "\00D7";
}

.show{
    display: flex;
    justify-content: space-between;
}

/* NAVIGATION BAR*************/
nav{
    
    display: none;
    justify-content: space-between;
     border-top: 5px solid rgba(219, 158, 27, 0.74);

}

.navbar.show{
    display: flex;
    justify-content: space-evenly;
    
    
}

@media(min-width:720px){
    .hamburger{
        display: none;
    }

    nav{
        display: flex;
        justify-content: center;
    }

    .navbar ul{
        font-size: xx-large;
    }
}


.navbar ul{
    
    text-decoration: none;
    margin: 0.5rem;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);    
    gap: 1.5rem;  
    animation-name: header-loading;
    animation-duration: 0.8s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;}

li{
    text-decoration: none;
    border: 1px solid gray;
    padding: 1rem;
    border-radius: 30rem;
    cursor: pointer;
     transition-timing-function: ease-in;
    transition-duration: 1s;
    


}

li:hover{
    background-color: rgb(62, 136, 206);
    color: goldenrod;
    cursor: pointer;
}

.located-now{
    text-decoration: underline;
}/*sets way finder***/

/******** ANIMATION FOR THE HEADER LOADING *********/
@keyframes header-loading {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }

  50% {
    opacity: 0.5;
    transform: translateY(-10px) scale(0.97);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
